<div class="container-fluid p-0 mb-5">
    <nav class="navbar navbar-dark navbar-expand-md fixed bg-dark" data-aos="slide-down" data-aos-duration="250"
        data-aos-offset="20" data-aos-delay="50" id="mainNav"
        style="filter: blur(0px) contrast(99%) hue-rotate(0deg) invert(0%) saturate(67%) sepia(0%);background-color: transparent;">
        <div class="container">
            <a class="navbar-brand shadow-sm" href="#page-top">
                <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                    data-aos-delay="50"></i></button>
            <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive" style="width: 700px;">

                <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                    style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 700px;padding-left: 10px;margin-right: -250px;">
                    <li class="nav-item" role="presentation"></li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/dashboard"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Blog"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Todo"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">TodoList</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Quotes"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Quotes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Logout"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>



<div class='col-md-7 m-auto'> {{> error}}</div>
<div class="container">
    
    
    <h3 class="text-center mb-3">Edit your Profile</h3>

<form  class="  card card-body col-md-7 m-auto" action="/user/EditProfile" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="name">UserName</label>
        <input type="name" id="name" name="Name" class="form-control" value="{{Name}}" placeholder="Enter your UserName"
            required />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="Email" class="form-control" value="{{Email}}" placeholder="Enter Email"
            required />
    </div>

    <div class="form-group">
        <label for="email">Occupation</label>
        <input type='text' id="Ocupation" name="Occupation" class="form-control" value="{{Occupation}}" placeholder="Occupation" required />
    </div>
    <div class="form-group">
        <label for="Skills">Skills</label>
        <input type="text" name="Skills" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Hobbies">Hobbies</label>
        <input type="text" id="Hobbies" name="Hobbies" class="form-control" placeholder="What you like doing (Hobbies)"
            required />
    </div>
    <div class="form-group">
        <label for="AboutMe">Description</label>
        <textarea name="About" class="form-control" placeholder="Descirbe yourself in not less than 200 words"
            required ></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Submit
    </button>
</form>
</div>