<div class="container-fluid p-0">
    <nav class="navbar navbar-dark navbar-expand-md fixed bg-dark " data-aos="slide-down" data-aos-duration="250"
        data-aos-offset="20" data-aos-delay="50" id="mainNav">
        <div class="container">
            <a class="navbar-brand shadow-sm" href="#page-top">
                <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                    data-aos-delay="50"></i></button>
            <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive"
                style="margin-right: 0px;width: 700px;">

                <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                    style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 700px;padding-left: 10px;margin-right: -250px;">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Home"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Blog"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Contact"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Contact</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Register"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Register</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Login"
                            style="padding: 16.5px 15px;font-size: 15px;width: 100px;">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header class="pulse animated masthead container-fluid pt-2" style="background-image: url('/header-bg.jpg'); height:100vh; background-size:contain">
        <div class="container">
            <div class="intro-text" style="padding-top: 200px;"><span class=" text-light"
                    style="font-size: 25PX;letter-spacing: 2px;opacity: 0.93;margin-bottom: 50px;">Welcome To
                    <strong class="text-light">GREENFONTS' MEDIA RESOURCES</strong></span>
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase text-light mt-3 mb-4"><span style="opacity: 1;">It's Nice To Meet
                        You</span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button"
                    data-bs-hover-animate="shake" href="/Blog">Tell me more</a>
            </div>
        </div>
    </header>
  
 </div>