<div class="container-fluid p-0">
    <nav class="navbar navbar-dark navbar-expand-md fixed bg-dark mb-5" data-aos="slide-down" data-aos-duration="250"
        data-aos-offset="20" data-aos-delay="50" id="mainNav">
        <div class="container">
            <a class="navbar-brand shadow-sm" href="#page-top">
                <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                    data-aos-delay="50"></i></button>
            <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive"
                style="margin-right: 0px;width: 400px;">

                <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                    style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 500px;padding-left: 10px;margin-right: -150px;">
                    <li class="nav-item" role="presentation"></li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/user/dashboard"
                            style="padding: 16.5px 15px;font-size: 15px;width: 100px;">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/user/Todo"
                            style="padding: 16.5px 15px;font-size: 15px;width: 100px;">TodoList</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/user/Quotes" style="padding: 16.5px 15px;font-size: 15px;width: 100px;">Quotes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/user/Logout" style="padding: 16.5px 15px;font-size: 15px;width: 100px;">Logout</a>
                    </li>                   

                </ul>
            </div>
        </div>
    </nav>


<header class="pulse animated masthead" style="background-image: url('/image/header-bg.jpg'); height: 650px;">
    <div class="container">
        <h1>Hello {{Name}}</h1>
        <div class="intro-text mb-5" style="padding-top: 50px;"><span class="bounce animated"
                style="font-size: 25PX;letter-spacing: 2px; margin-bottom: 50px;">Welcome To
                <strong class="mb-5">GREENFONTS' MEDIA RESOURCES</strong></span>
            <div class="intro-lead-in"></div>
            <div class="intro-heading text-uppercase mb-5"><span >It's Nice To Meet
                    You</span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button"
                data-bs-hover-animate="shake" href="/Todo">My Tasks</a>
        </div>
    </div>
</header>

